<%= form_with(model: post, :multipart => true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= form.label :date, "Date / التاريخ" %>
      <%= form.date_field :date, class: "form-control", placeholder: "العنوان" %>
    </div>

    <div class="form-group">
      <div class="pull-left">
        <%= form.label :hide_day, "Hide Day / إخفاء اليوم" %>
        <%= form.check_box :hide_day %>
      </div>
      <div class="pull-right">
        <%= form.label :hide_month, "Hide Month / إخفاء الشهر" %>
        <%= form.check_box :hide_month %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :subject_ar, "Title / العنوان" %>
      <%= form.text_field :subject_ar, class: "form-control", placeholder: "العنوان" %>
      <%= form.text_field :subject_en, class: "form-control", placeholder: "Title" %>
    </div>

    <div class="form-group">
      <%= form.label :description_ar, "Summary / الملخص" %>
      <%= form.text_area :description_ar, class: "form-control", placeholder: "الملخص" %>
      <%= form.text_area :description_en, class: "form-control", placeholder: "Description" %>
    </div>

    <div class="form-group">
      <%= form.label :source, "Source / المصدر" %>
      <%= form.text_field :reference, class: "form-control", placeholder: "المصدر / Source" %>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Categories / اقسام</label>
      <br>
      <% if I18n.locale == :ar %>
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name_ar, include_blanks: false, include_hidden: false %>
      <% else %>
        <%= form.collection_check_boxes :category_ids, Category.all, :id, :name_en, include_blanks: false, include_hidden: false %>
      <% end %>
    </div>

    <div class="form-group">
    <label for="picture">Picture / صورة <span style="margin: 0 25px;color: #727272;">(optional/اختياري)</span></label><br>
        <%= form.file_field :picture, class:"form-control-file", id:"picture", accept: 'image/png,image/jpeg' %>
        <br>
        <%= recaptcha_tags %>
      <%= form.submit "Add / أضف", class: "btn btn-primary" %>
    </div>    

  </form>
<% end %>
