<div class="row post">
  <div class="col-2 date">
    <%= format_date(post) %>
  </div>
  <div class="col-8">
    <div class="row"><a href="<%= post_path post.id %>"><%= post.subject_ar %></a></div>
    <% if post.description_ar %>
    <div class="row"><span><%= post.description_ar.truncate(300, separator: ' ', omission: '... (واصلت)') %></span></div>
    <% end %>
    <div class="row">
      <% if post.picture.attached? %>
        <img src="<%= url_for(post.picture) %>" class="img-responsive">
      <% end %>
      <div class="gap-2 d-md-block" style="padding-right: 0;">
        <% post.categories.each do |c| %>
          <button onclick='filter(<%= c.id %>);' type="button" class="btn btn-outline-primary btn-sm"><%= c.name_ar %></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

